/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace lmc "com.lmc.ralib.renderers.*";

s|TabbedViewNavigatorApplication{
	backgroundImage: "@embed('assets/subtlebackground.png')";
}
s|View{
	backgroundImage: "@embed('assets/subtlebackground.png')";

}
@media (application-dpi: 240){
	
	.squarebutton{
		fontSize: 24;
		fontWeight: bold;
	}
	s|List{
		fontSize: 18;
		verticalScrollPolicy: 'auto';
		downColor: #015DE6;
		selectionColor: #015DE6;
		
	}
	
	global {	fontSize: 16; } 

	s|Button{
		fontSize: 16;

	}
	.listmessagestyle{
		fontSize: 16;	
	}
	s|LabelItemRenderer{
		fontSize: 22;
	}
	s|IconItemRenderer{
		fontSize: 22;
		messageStyleName: "listmessagestyle";
	}
	lmc|ReportsItemRenderer{
		fontSize: 22;
		messageStyleName: "listmessagestyle";
	}
	s|Label{
		fontSize: 18;

	}
	s|TextInput{
		skinClass: ClassReference("spark.skins.mobile.TextInputSkin");
		fontSize: 18;
		/* http://stackoverflow.com/questions/10913156/flex-4-6-textinput-with-prompt-on-ios-misbehaves */
		showPromptWhenFocused: false;
	}
	s|ActionBar #titleDisplay { fontSize: 24pt; }

}
@media (application-dpi: 160)
{
	global {	fontSize: 16; } 

	.squarebutton{
		fontSize: 20;
		fontWeight: bold;
	}
	s|List{
		fontSize: 14;
		verticalScrollPolicy: 'auto';
		downColor: #015DE6;
		selectionColor: #015DE6;
	}
	s|Button{
		fontSize: 14;
		
	}
	.listmessagestyle{
		fontSize: 12;	
	}
	s|LabelItemRenderer{
		fontSize: 16;
	}
	s|IconItemRenderer{
		fontSize: 16;
		messageStyleName: "listmessagestyle";
	}
	lmc|ReportsItemRenderer{
		fontSize: 16;
		messageStyleName: "listmessagestyle";
	}
	s|Label{
		fontSize: 16;
	}
	s|TextInput{
		skinClass: ClassReference("spark.skins.mobile.TextInputSkin");
		fontSize: 16;
		/* http://stackoverflow.com/questions/10913156/flex-4-6-textinput-with-prompt-on-ios-misbehaves */
		showPromptWhenFocused: false;
	}
	s|ActionBar #titleDisplay { fontSize: 18pt; }

}
@media (application-dpi: 320)
{
	global {	fontSize: 20; } 

	.squarebutton{
		fontSize: 32;
		fontWeight: bold;
	}
	s|List{
		fontSize: 24;
		verticalScrollPolicy: 'auto';
		downColor: #015DE6;
		selectionColor: #015DE6;
	}
	s|Button{
		fontSize: 20;
		
	}
	.listmessagestyle{
		/* Controls the little message underneath */
		fontSize: 24;	
	}
	.listmessagestyleM{
		fontSize: 24;	
	}
	s|LabelItemRenderer{
		fontSize: 28;
	}
	s|IconItemRenderer{
		fontSize: 30;
		messageStyleName: "listmessagestyle";
		messageStyleNameM: "listmessagestyleM";
	}
	lmc|ReportsItemRenderer{
		fontSize: 28;
		messageStyleName: "listmessagestyle";
	}
	s|Label{
		fontSize: 24;
		
	}
	s|TextInput{
		skinClass: ClassReference("spark.skins.mobile.TextInputSkin");
		fontSize: 24;
		/* http://stackoverflow.com/questions/10913156/flex-4-6-textinput-with-prompt-on-ios-misbehaves */
		showPromptWhenFocused: false;

	}
	s|ActionBar #titleDisplay { fontSize: 36pt; }

}

	/*global
{
	
	color: #EEBCBC;
	content-background-color: #D7DDE5; 
	symbol-color: #A34242;
	content-background-alpha: 0.0; */
	/*contentbackgroundcolor: #6D6464; 
	
}*/